[user]
    name            = Matthias Vogelgesang
    email           = matthias.vogelgesang@gmail.com

[core]
    editor          = vim
    excludesfile    = ~/.gitignore 
    whitespace      = fix, trailing-space

[color]
    ui          = auto
    branch      = auto
    diff        = auto
    interactive = auto
    status      = auto

[color "diff"]
    whitespace  = red reverse

[push]
    default = tracking

[alias]
    l = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset %s %C(green)(%cr)%Creset' --abbrev-commit --date=relative
    s = status --short
    b = branch
    d = diff
    ds = diff --cached
    co = checkout
    unstage = reset HEAD 
    undo = checkout -- 
    snapshot = !git archive HEAD | gzip > $(basename $(pwd)).tar.gz
    tags = tag -l
    todo = grep -i -n -e ' FIX: *' -e ' TODO: *'
    branch-info = "!sh -c 'git branch --list --no-color | \
            sed -e \"s/*/ /\" | \
            while read branch; do \
            git log -1 --format=format:\"%Cred$branch:%Cblue %s %Cgreen%h%Creset (%ar)\" $branch; \
            done'"
