[user]
    name = Matthias Vogelgesang
    email = matthias.vogelgesang@gmail.com

[core]
    editor = vim
    excludesfile = ~/.gitignore

[alias]
    l = log --graph --decorate --pretty=format:'%C(yellow)%h%Creset %s %C(green)(%cr)%Creset' --abbrev-commit --date=relative
    s = status
    b = branch
    d = diff --color-words
    ds = diff --cached --color-words
    co = checkout
    unstage = reset HEAD 
    undo = checkout -- 
    snapshot = !git archive HEAD | gzip > $(basename $(pwd)).tar.gz
    tags = tag -l

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
