.bin/*
.mutt/cache
.vim/*.swp
.vim/autoload/*
.vim/bundle/*
.vim/plugged/*
.vim/spell/*
.vim/.netrwhist
.vimperator/info/default/history-*
.vimperator/info/default/ignored-keys
.vimperator/info/default/local-marks
.vimperator/info/default/macros
