URxvt.font:         xft:Inconsolata:size=11
URxvt.scrollBar:    false
URxvt.letterSpace:  -2

Xft.hinting:        true
Xft.hintstyle:      hintfull
Xft.dpi:            97
Xft.antialias:      true
Xft.rgba:           rgb
